* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patsy Sans', sans-serif;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header{
    background-color: #FCD69C;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}


.catalog {

    display: flex;
    align-items: center;
}

.catalog img {
    margin-left: 5px;
}

.catalog button {
    padding: 12px 15px;
    border-radius: 5px;
    background-color: #FF7A00;
    color: #fff;
    border: none;
    cursor: pointer;
}

.search-box {
    display: flex;
    align-items: center;

}

.search-box input {
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-box button {
    padding: 12px 15px;
    border-radius: 5px;
    background-color: #FF7A00;
    color: #fff;
    border: none;
    cursor: pointer;
}
.section-text{
    margin-top: 30px;
    margin-left: 200px;
}
.div-text{
    margin-top: 125px;
    margin-left: -55px;
    margin-bottom: 30px;
}
.text{
    margin-top: 100px;
    margin-left: -128px;
}
.section {
    display: flex;
    margin-top: 50px;
    margin-bottom: 15px;
    border: solid 2px;
    width: 755px;
    height: 207px;

}
.section>h2{
    padding-top: 10px;
    padding-left: 20px;

}

.section>p {
   
    margin-top: 50px;
    margin-left: -115px;
}

.aria-laberi{
    margin-top: 70px;
    margin-left: -175px;
}





footer {
    display: flex;
    justify-content: space-between;
    background-color: #FCD69C;
    padding: 20px;
    text-align: center;
    width: 100%;
    bottom: 0;
}
footer p {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.footer-icon {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footer-icon a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
}