* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patsy Sans', sans-serif;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #FCD69C;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.catalog {
    display: flex;
    align-items: center;
}

.catalog img {
    margin-left: 5px;
}

.catalog button {
    padding: 12px 15px;
    border-radius: 5px;
    background-color: #FF7A00;
    color: #fff;
    border: none;
    cursor: pointer;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-box button {
    padding: 12px 15px;
    border-radius: 5px;
    background-color: #FF7A00;
    color: #fff;
    border: none;
    cursor: pointer;
}


.div-section{
    background-color: #f1f1f1;
    height: 104px;
    width: 1471px;
    padding-left: 135px;
    padding-top: 28px;
}
.div-section p{
    padding-top: 5px;
}

.container{
    margin-left: 680px;
    margin-top: 200px;
}


.container img{
    width: 176px;
    height: 176px;
    margin-top: 20px;
    margin-left: -50px;
}








footer {
    display: flex;
    justify-content: space-between;
    background-color: #FCD69C;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: -100px;
}

footer p {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.footer-icon {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footer-icon a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
}