body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #4582af;
  overflow: hidden;
}

.navbar-center {
  text-align: center;
}

.navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a:hover {
  color: #85beff;
}
.navbar {
  padding: 0px 125px
}
.background-prof{
  height: 220px;
  width: 1000px;
}
.background-page{
  display: flex;
  justify-content: space-around;
}
.photo-profile{
  margin-top: -45px;
  margin-left: -600px;
  display: flex;
  justify-content: space-around;
}
.image-profile{
  border-radius: 50%;
  width: 105px;
  height: 80px;
}
h2{
  color: white;
  text-align: center;
  margin-top: -60px;
  margin-left: -250px;
}
.nav-buttons a{
  padding: 10px;
  text-decoration: none;
}
.nav-buttons{
  margin-left: 60px;
  text-align: center;
}
.nav-buttons a:hover{
  text-decoration: underline;
  color:brown;
}
li{
  line-height: 30px;
}
.block-news{
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  border-style: outset;
  width: fit-content;
  transform: translate(236px, 30px);
}
.block-news a{
  text-decoration: none;
  color:black;
}
.block-news a:hover{
  text-decoration: underline;
  color:brown
}
.panel{
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  width: 997px;
  border-style: outset;
  margin-left: 236px;
  height: 57px;
}
.main{
  width: 715px;
  border-style: outset;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  line-height: 30px;
  transform: translate(518px, -345px);
  height: 150px;
}
.no-notific{
  color: grey;
  text-align: center;
}
.all-news{
  transform: translate(35px);
}
