body {

  background-color: #7de4e4;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: #000000;
}

.container {
  border-color: grey;
  border-style: solid;
  border-radius: 20%;
  width: 635px;
  margin: 20px auto;
  padding-bottom: 80px;
  box-shadow: 0px 0px 10px #b4b4b4;
  background-image: url('https://bober71.ru/upload/iblock/022/fzqbcwnxqe4b3i2qituj7foaq863wooc.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

form {
  padding: 50px 30px;
}

label {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}

input {
  display: block;
  width: 93%;
  margin: auto;
  padding: 13px;
  border: none;
  border-radius: 20px;
  background: #a6a6a6;
  opacity: 0.5;
}

input.submit {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  opacity: 1;
  background-color: #a07e80;
  cursor: pointer;
}
.reg-button {
  padding: 10px 20px;
  cursor: pointer;
}
.login-button{
  width: 25%;
  border-style: solid;
  border-radius: 50px;
  border-color: #a07e80;
  background-color: #bababa;
  color: #333;
  padding: 10px 20px;
  cursor: pointer; 
}

.login-button:hover {
  border-color: #000000;
  transition: all 500ms ease;
  background: rgba(0,0,0,0);
background-color: #07bd00;
}
.buttons-reg {   
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column; 
}
a{
  text-decoration: none;
}  
a:hover{
  text-decoration: underline;
  color:cadetblue;
}

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #4582af;
    overflow: hidden;
  }
  
  .navbar-center {
    text-align: center;
  }
  
  .navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  .navbar a:hover {
    color: #85beff;
  }
  .login {
    margin-left: 30em;
  }
.navbar {
    padding: 0px 125px
}
.main{
    margin-left: 140px;
    font-size: 15px;
    line-height: 1;
    margin: 40px 130px;
    border-style: ridge;
}
h2{
    margin: 35px 70px;
    font-size: 36px;
}
p{
    color: grey;
    margin: 40px 70px;
}
b{
    margin: 70px;
}
img {
    display: block;
    transform: translate(740px, -130px);
    width: 400px;
}
details{
    line-height: 35px;
    transform: translate(70px, -290px);
    width: 54%;
}
summary{
    border: 2px;
    border-style: solid;
    width: 25%;
}

