* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #000;
    margin: 0;
    padding: 0;
    height: 100vh;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

header {
    background-color: #FCD69C;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.logo a {
    text-decoration: none;
}

.logo a h1 {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.logo a:hover h1 {
    color: #ff6600;
    transform: scale(1.1);
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links li a img {
    transition: transform 0.3s ease-in-out;
}

.nav-links li:hover a img {
    transform: scale(1.2);
}

#toggle-menu {
    border: none;
    background-color: #FF7A00;
    font-size: 16px;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

#toggle-menu:hover {
    background-color: #FF5733;
}

#toggle-menu.active {
    transform: rotate(90deg);
}

#side-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-color: #FCD69C;
    transition: right 0.3s;
    padding-top: 20px;
    z-index: 999;
}

#side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#side-menu ul li {
    padding: 10px;
}

#side-menu ul li a {
    color: #222;
    text-decoration: none;
    font-size: 16px;
}

.catalog {
    display: flex;
    align-items: center;
}

.catalog img {
    margin-left: 5px;
}

.catalog button {
    padding: 5px 10px;
    background-color: #FF7A00;
    color: #fff;
    border: none;
    cursor: pointer;
}

.dropbtn {
    background-color: #FCD69C;
    color: white;
    padding: 18px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
}

.search-box button {
    padding: 10px 10px;
    background-color: #FF7A00;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.search-box input,
.search-box button {
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.search-box input:focus,
.search-box button:hover {
    transform: scale(1.05);
    border-color: #ff6600;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    padding: 20px;
    flex: 1;
    gap: 20px;
}

.reader-container {
    position: relative;
    width: 90%;
    height: 80vh;
    background-color: white;
    border: 1px solid #444;
    border-radius: 10px;
    box-shadow: 0 5px 15px #FF7A00;
    box-shadow: #ff6600;
    padding: 30px;
    overflow-y: auto;
    font-size: 18px;
}

body.dark-mode .reader-container {
    background-color: #444;
    color: #fff;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}

.reader-container:hover .nav-button {
    opacity: 1;
}

.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev-button {
    left: -5px;
}

.next-button {
    right: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #FCD69C;
    padding: 20px;
    text-align: center;
    width: 100%;
}

footer p {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 20px;
}

.footer-icon-right a {
    color: rgb(0, 0, 0);
    margin: 0 10px;
    font-size: 36px;
}

.theme label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #000;
}
