* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patsy Sans', sans-serif;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.header {
    background-color: #FCD69C;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.cover{
    margin-left: -100px;
    margin-top: -60px;
}


.catalog {
    display: flex;
    align-items: center;
}

.catalog img {
    margin-left: 5px;
}

.catalog button {
    padding: 5px 10px;
    background-color: #FF7A00;
    color: #fff;
    border: none;
    cursor: pointer;
}



.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
}

.search-box button {
    padding: 5px 10px;
    background-color: #FF7A00;
    color: #fff;
    border: none;
    cursor: pointer;
}


.show {
    display: block;
}
#toggle-menu{
    font-size: 18px;
    text-decoration: none;
    color: #000000;
}

#side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #FCD69C;
    transition: left 0.3s;
}

#side-menu ul {
    list-style: none;
    padding: 0;
}

#side-menu ul li {
    padding: 10px;
}

#side-menu ul li a {
    color: #222222;
    text-decoration: none;
    font-size: 16px;
}

.line {
    border-bottom:4px solid #778899;
    margin-top: 13px;
}

.line-four {
    margin-left: 250px;
    margin-top: 40px;
    border-bottom: 1px solid #C0C0C0;
    width: 1420px;
    ;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.info h1 {
    margin-left: 40px;
    text-decoration: none;
    font-size: 28px;
}

.info p {
    margin-left: 40px;
    padding-top: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #545f69;
}

.info span {
    margin-top: 15px;
}

.changes-two {
    margin-left: 30px;
    padding-top: 30px;
}

.line-two {
    margin-top: 100px;
    border-bottom: 1px solid #C0C0C0;
    margin-left: 250px;
    border-left: 1px solid #C0C0C0;
    height: 850px;
    margin-top: -705px;
    border-right: 1px solid #C0C0C0;
    height: 750px;
    margin-top: -685px;
    margin-right: 250px;
}

.line-three {
    margin-top: 70px;
    border-bottom: 4px solid #778899;
}
