* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patsy Sans', sans-serif;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.header {
    background-color: #FCD69C;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.catalog {
    display: flex;
    align-items: center;
}

.catalog img {
    margin-left: 5px;
}

.catalog button {
    padding: 5px 10px;
    background-color: #FF7A00;
    color: #fff;
    border: none;
    cursor: pointer;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
}

.search-box button {
    padding: 5px 10px;
    background-color: #FF7A00;
    color: #fff;
    border: none;
    cursor: pointer;
}



.text{
    display: flex;
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 10px;
    color: aliceblue;
    
}
.section-text{
    margin-top: 10px;
    margin-left: 80px;
    color: aliceblue;
}




.main-section{
    background-color: #FCD69C;
    display: block;
    width: 1300px;
    height: 760px;
    margin-top: 50px;
    border-radius: 7px;
}
.main-section>h1{
    margin-left: 90px;
    color: aliceblue;
    padding-bottom: 20px;
    padding-top: 70px;
}



