body{
    background-color: aliceblue;
}

.navbar {
    background-color: green;
    overflow: hidden;

  }
  
  .navbar-center {
    text-align: center;
  }
  
  .navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px 20px;
    text-decoration: none;
  }
  .navbar a:hover {
    color: #85beff;
  }
  .login {
    margin-left: 30em;
  }
.navbar {
    padding: 0px 125px
}

.section-cont>h1{
    display: inline-block;
    padding-top: 5px;
    padding-left: 100px;
}

.kortion>h3{
    padding-left: 200px;
    padding-top: 10px;
}
.kortion>h2{
    float: right;
    padding-right: 20px;

}
.kortion>img{
    display: block;
    padding-bottom: 25px;


}
.kortion{
    padding-left: 30px;
    border: 1px #000000 solid;width: 1050px;
}




.section-container{
    margin-bottom: 280px
}

.section-import{
    border: 1px #000000 solid;
}

.col-xss{
    display: inline-block;
    font-weight: 600;
    width: 25%;
    float: left;
    color: rgb(70, 70, 70);
    line-height: 1.5;
    padding-left: 180px;
    margin-bottom: 50px;

}
.col-xs{
    display: inline-block;
    width: 25%;
    float: left;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(70, 70, 70);
    padding-left: 180px;
    margin-bottom: 50px;

}
.col-x{
    display: inline-block;
    float: left;
    font-weight: 600;
    width: 25%;
    line-height: 1.5;
    color: rgb(70, 70, 70);
    padding-left: 180px;
    margin-bottom: 50px;
}
.logo-img{
    margin: 0 10px 5px 0;
}




*{
    box-sizing: border-box;
}