<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="/static/css/basket.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
</head>
<body>
  <header>
        <nav class="navbar">
            <div class="logo">
                <a href="/" style="text-decoration: none; color: black;"><h1>Читатели</h1></a>
            </div>
            <div class="catalog">
                <button>Каталог<img src="../static/images-svg/open-btn.svg" alt="Каталог"></button>
            </div>
            <div class="search-box">
                <input type="text" placeholder="Поиск..." aria-label="Поиск">
                <button>Найти</button>
            </div>
            <ul class="nav-links">
                <li><a href="sign-in" aria-label="Профиль"><img src="../static/images-svg/profile.svg" alt="Профиль"></a></li>
                <li><a href="#" aria-label="Избранное"><img src="../static/images-svg/favorite.svg" alt="Избранное"></a>
                </li>
                <li><a href="making-orders.html" aria-label="Заказы"><img src="../static/images-svg/orders.svg" alt="Заказы"></a></li>
                <li><a href="basket" aria-label="Корзина"><img src="../static/images-svg/shopping-cart.svg" alt="Корзина"></a>
                </li>
            </ul>
        </nav>
    </header>
        <main>
            <img src="book1.png" alt="нет">
            <p>Подарок на Новый год под ёлку  от Маши Рупасовой.</p>
            <br>
            <p class="avtor">Маша Рупасова</p>
            <div class="kolvo">
            <button class="ss">
                -
            </button>
            <p>1</p>
            <button class="ss">+</button>
        </div>
        
    <div class="summs">
            <p>651 руб</p>
            <button class="sell">Купить</button>
        </div>
        </main>
        <footer>
            
        </footer>
</body>
</html>