<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <link rel="stylesheet" href="/static/css/contacts.css">
    <script src="../static/script/login-page.js" defer></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="/" style="text-decoration: none; color: black;">
                    <h1>Читатели</h1>
                </a>
            </div>
            <div class="catalog">
                <button>Каталог<img src="../static/images-svg/open-btn.svg" alt="Каталог"></button>
            </div>
            <div class="search-box">
                <input type="text" placeholder="Поиск..." aria-label="Поиск">
                <button>Найти</button>
            </div>
            <ul class="nav-links">
                <li><a href="sign-up" aria-label="Профиль"><img src="../static/images-svg/profile.svg"
                                                                          alt="Профиль"></a></li>
                <li><a href="favourites" aria-label="Избранное"><img src="../static/images-svg/favorite.svg" alt="Избранное"></a>
                </li>
                <li><a href="make-order" aria-label="Заказы"><img src="../static/images-svg/orders.svg"
                                                                          alt="Заказы"></a></li>
                <li><a href="basket" aria-label="Корзина"><img src="../static/images-svg/shopping-cart.svg" alt="Корзина"></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
    <section class="section">
        <h2>Контакты</h2>
        <p>Общие вопросы:<br><strong>chitateli@mail.ru</strong></p>
        <div class="text">
            <p><strong>Адрес:</strong>
        </div>
        <div class="div-text">
            <p>г. Москва, ул. Тимура Фрунзе, дом 11.</p>
        </div>
        <div class="section-text">
            <h3><strong>Контактный центр:</strong></h3>
        </div>
        <div class="aria-laberi">
            <p>8 (800) 500-05-22</p>
        </div>
    </section>

    <section class="section-kart">
        <div style="position:relative;overflow:hidden;"><a
                href="https://yandex.ru/maps/195/ulyanovsk/?utm_medium=mapframe&utm_static=maps"
                style="color:#eee;font-size:12px;position:absolute;top:0px;"></a><a
                href="https://yandex.ru/maps/195/ulyanovsk/?ll=48.403131%2C54.314194&utm_medium=mapframe&utm_static=maps&z=14"
                style="color:#eee;font-size:12px;position:absolute;top:14px;"></a><iframe
                src="https://yandex.ru/map-widget/v1/?ll=48.403131%2C54.314194&z=14" height="420"
                frameborder="1" allowfullscreen="true" style="position:relative; margin-bottom: 80px;" width="755px"></iframe></div>
    </section>
</main>
    <footer>
        <div>
            <p>8 (800) 500-05-22 <br>Контактный центр</p>
        </div>
        <div class="footer-center">
            <p>г. Москва, ул. Тимура Фрунзе, дом 11 <br>futureskills@mail.ru</p>
        </div>
        <div class="footer-icon">
            <a href="#" class="icon" aria-label="VK"><i class="fa-brands fa-vk"></i></a>
            <a href="#" class="icon" aria-label="Telegram"><i class="fa-brands fa-telegram"></i></a>
        </div>
    </footer>
</body>
</html>