<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список литературы</title>
    <link rel="stylesheet" href="/static/css/literatury-list.css">
    <script src="/script/login-page.js" defer></script>
</head>

<body>
<header>
        <nav class="navbar">
            <div class="logo">
                <a href="/" style="text-decoration: none; color: black;">
                    <h1>Читатели</h1>
                </a>
            </div>
            <div class="catalog">
                <a href="liter-list"> Каталог<img src="/static/images-svg/open-btn.svg" alt="Каталог"></a>
            </div>
            <div class="search-box">
                <input type="text" placeholder="Поиск..." aria-label="Поиск">
                <button>Найти</button>
            </div>
            <ul class="nav-links">
                <li><a href="sign-up" aria-label="Профиль"><img src="/static/images-svg/profile.svg"
                            alt="Профиль"></a></li>
                <li><a href="favourites" aria-label="Избранное"><img src="/static/images-svg/favorite.svg" alt="Избранное"></a>
                </li>
                <li><a href="make-order" aria-label="Заказы"><img src="/static/images-svg/orders.svg"
                            alt="Заказы"></a></li>
                <li><a href="asket" aria-label="Корзина"><img src="/static/images-svg/shopping-cart.svg" alt="Корзина"></a>
                </li>
            </ul>
        </nav>
    </header>
<main>
        <h3>
            Доступная литература
        </h3>
        <p class="intro">
            В этом разделе вы можете прочитать некоторые популярные новые произведения
        </p>
        <hr>
        <h2>Подборка 8 актуальных книг</h2>
        <ol>
            <li>
                <a href="reader-Anne-Dar">Anne Dar АтакА & Исключительная Книга</a>
            </li>
            <li><a href="reader-beautiful-witch">Прекрасная ведьма</a></li>
            <li><a href="reader-berta-isla">Берта Исла - Хавьер Мариа</a></li>
            <li><a href="reader-dragon-general">Генерал Дракона</a></li>
            <li><a href="reader-language-of-bones">Язык костей - Клиа Кофф</a></li>
            <li><a href="reader-murders-and-cupcakes">Убиства и кексики</a></li>
            <li><a href="reader-personal-student">  Личная ученица Огненного лорда - Анна Гаврилова, Яся Недотрога</a></li>
            <li><a href="reader-reality-transurfing"></a></li>
        </ol>
    </div>
</main>
   <footer>
        <div>
            <p>8 (800) 500-05-22 <br>Контактный центр</p>
        </div>
        <div class="footer-center">
            <p>г. Москва, ул. Тимура Фрунзе, дом 11 <br>futureskills@mail.ru</p>
        </div>
        <div class="footer-icon">
            <a href="#" class="icon" aria-label="VK"><i class="fa-brands fa-vk"></i></a>
            <a href="#" class="icon" aria-label="Telegram"><i class="fa-brands fa-telegram"></i></a>
        </div>
    </footer>
</body>
</html>