<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="/static/css/style-main.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="/" style="text-decoration: none; color: black;">
                    <h1>Читатели</h1>
                </a>
            </div>
            <div class="catalog">
                <a href="liter-list"> Каталог<img src="/static/images-svg/open-btn.svg" alt="Каталог"></a>
                
            </div>
            <div class="search-box">
                <input type="text" placeholder="Поиск..." aria-label="Поиск">
                <button>Найти</button>
            </div>
            <ul class="nav-links">
                <li><a href="sign-up" aria-label="Профиль"><img src="/static/images-svg/profile.svg"
                            alt="Профиль"></a></li>
                <li><a href="favourites" aria-label="Избранное"><img src="/static/images-svg/favorite.svg" alt="Избранное"></a>
                </li>
                <li><a href="make-order" aria-label="Заказы"><img src="/static/images-svg/orders.svg"
                            alt="Заказы"></a></li>
                <li><a href="basket" aria-label="Корзина"><img src="/static/images-svg/shopping-cart.svg" alt="Корзина"></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>


        <div class="span">
            <span class="div-span">
                <h2 style=" padding-top: 30px; padding-left: 40px;">
                    Рекомендации для вас
                </h2>
            </span>
        </div>
        <section class="section-card">
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cdn1.ozone.ru/multimedia/wc600/1016706733.jpg" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Straight arrow</h3>
                    <p class="product-description">Описание товара, которое может быть достаточно длинным, чтобы
                        показать, как он выглядит на разных устройствах.</p>
                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>

                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv7.litres.ru/pub/c/cover_330/70719373.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Атака исключительная</h3>
                    <p class="product-description">Аннотация:Лето 2094-го года приносит на Землю испытания, грозящие
                        уничтожить не только целые цивилизации, но всё человечество.</p>
                    <a href="reader-Anne-Dar"><button onclick="addToCart('Товар 2', 20)">Прочитать</button></a>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv1.litres.ru/pub/c/cover_200/70735318.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Личная учиница</h3>
                    <p class="product-description">Огненные маги возмутительные наглецы, но для меня их наглость
                        оказалась счастьем. </p>
                    <a href="reader-personal-student"><button
                            onclick="addToCart('Товар 2', 20)">Прочитать</button></a>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv4.litres.ru/pub/c/cover_185/70732447.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Трансерфинг реальности</h3>
                    <p class="product-description">Трансерфинг – это мощная техника, дающая власть творить невозможные с
                        обыденной точки зрения вещи..</p>
                    <a href="reader-reality-transurfing"><button
                            onclick="addToCart('Товар 2', 20)">Прочитать</button></a>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv3.litres.ru/pub/c/cover_200/70650433.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Единственный конец злодейки</h3>
                    <p class="product-description">«Нужно бежать, но тело не слушается… Если не остановлю его, то
                        погибну! </p>
                    <a href="reader-reality-transurfing"><button
                            onclick="addToCart('Товар 2', 20)">Прочитать</button></a>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv6.litres.ru/pub/c/cover_185/70612663.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Язык костей</h3>
                    <p class="product-description">Нетрезвый водитель врезался в фургон на автостраде Лос-Анджелеса.
                        Обычное дело. Вернее, было бы обычным..</p>

                    <a href="reader-language-of-bones"><button
                            onclick="addToCart('Товар 2', 20)">Прочитать</button></a>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv2.litres.ru/pub/c/cover_200/70727620.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Генерала драконов</h3>

                    <p class="product-description">Когда кажется, что хуже быть уже не может, я попадаю в другой мир со
                        странной меткой на руке.</p>
                    <a href="reader-dragon-general"><button
                            onclick="addToCart('Товар 2', 20)">Прочитать</button></a>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv6.litres.ru/pub/c/cover_185/70565167.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Берта исла</h3>
                    <p class="product-description">Берта Исла и Томас Невинсон познакомились еще в школе и решили
                        никогда не расставаться.</p>

                    <a href="reader-berta-isla"><button onclick="addToCart('Товар 2', 20)">Прочитать</button></a>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv4.litres.ru/pub/c/cover_185/70594741.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Убийства и кексики</h3>

                    <p class="product-description">Не желая мириться с такой несправедливостью, они берут расследование
                        в свои руки. Тем более что появляется новое тело.</p>
                    <a href="reader-murders-and-cupcakes"><button onclick="addToCart('Товар 2', 20)">Прочитать</button></a>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv6.litres.ru/pub/c/cover_200/70685065.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Прекрастная ведьма</h3>

                    <p class="product-description">Много лет назад я сбежала сразу после собственной свадьбы. И вот
                        теперь возвращаюсь, чтобы получить от ненавистного мужа развод.</p>
                   <a href="reader-beautiful-witch"><button onclick="addToCart('Товар 2', 20)">Прочитать</button></a>
                </div>
            </div>




            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv8.litres.ru/pub/c/cover_200/70626280.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Танго 2</h3>

                    <p class="product-description">Вот угораздило же одного пепельного блондина выбрать именно меня.</p>
                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv6.litres.ru/pub/c/cover_200/70622563.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Отвергнутая хозяйка</h3>
                    <p class="product-description">Попала в тело той, что обвинили в измене, той, от которой хотят
                        избавиться, нежной, невинной девушки.
                        <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>
        </section>
        <div class="span">
            <span class="div-span">
                <h2 style=" padding-top: 30px; padding-left: 40px;">
                    Предзаказ со скидкой 20%
                </h2>
            </span>
        </div>
        <section class="section-card">
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv6.litres.ru/pub/c/cover_200/70622563.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Отвергнутая хозяйка</h3>
                    <p class="product-description">Попала в тело той, что обвинили в измене, той, от которой хотят
                        избавиться, нежной, невинной девушки. </p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>


            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv3.litres.ru/pub/c/cover_185/70407436.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Грань забытых земель</h3>

                    <p class="product-description">Дружная и упорная пятерка игроков, создав боевую группу Братство
                        Тропы, оказавшись в одном из тайных уголков мира Вальдиры.</p>
                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>


            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv4.litres.ru/pub/c/cover_185/68053645.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Цена колдовства</h3>
                    <p class="product-description">Отсутствие общих детей с любимым человеком, который и так бросил тебя
                        за два дня до свадьбы – невелика цена за простенькое колдовство..</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv8.litres.ru/pub/c/cover_185/70685182.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Принцеса торн</h3>

                    <p class="product-description">Мой телохранитель. Мой защитник. Мой величайший грех.Я слишком много
                        раз оказывалась на страницах желтой прессы.</p>
                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>


            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv3.litres.ru/pub/c/cover_200/70732339.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">45 татуировок</h3>
                    <p class="product-description">Названия глав этой книги – татуировки. Это свод принципов и правил,
                        проверенных многолетней практикой успешного менеджера,</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>


            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv5.litres.ru/pub/c/cover_200/70452358.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Цеховик 4</h3>
                    <p class="product-description">Проект постепенно выходит на расчётный уровень прибыли. Да вот
                        только, чем больше успехов..</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>
        </section>
        <div class="span">
            <span class="div-span">
                <h2 style=" padding-top: 30px; padding-left: 40px;">
                    Недавно прочитанные
                </h2>
            </span>
        </div>
        <section class="section-card">
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv4.litres.ru/pub/c/cover_185/70732447.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Трансерфинг реальности</h3>

                    <p class="product-description">«Пространство вариантов» – это первая книга трилогии Вадима Зеланда
                        «Трансерфинг реальности».</p>
                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>



            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv7.litres.ru/pub/c/cover_185/70732471.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Трансерфинг реальности 5</h3>

                    <p class="product-description">«Пространство вариантов» – это первая книга трилогии Вадима Зеланда
                        «Трансерфинг реальности».</p>
                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>



            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv5.litres.ru/pub/c/cover_200/70732450.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Трансерфинг реальности 3</h3>
                    <p class="product-description">«Пространство вариантов» – это первая книга трилогии Вадима Зеланда
                        «Трансерфинг реальности».</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>



            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv5.litres.ru/pub/c/cover_185/66635352.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Нетворкинг</h3>
                    <p class="product-description">Разведчики-нелегалы, много лет проработавшие под глубоким прикрытием,
                        делятся уникальным личным опытом работы с людьми.</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>


            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv9.litres.ru/pub/c/cover_200/70455094.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Возрождения феникса 9</h3>

                    <p class="product-description">Русские идут! Отныне Москва - гегемон всего мира. Сеня Беркутов
                        сделал ставку на Российскую Империю. </p>
                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>


            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv4.litres.ru/pub/c/cover_200/70732648.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Ревизор в ссср</h3>
                    <p class="product-description">Не думал, не гадал матерый московский аудитор, что на шестом десятке
                        лет помрет и угодит в СССР, аж в 1971 год. </p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>
        </section>
        <div class="span">
            <span class="div-span">
                <h2 style=" padding-top: 30px; padding-left: 40px;">
                    Хиты проверенные временем
                </h2>
            </span>
        </div>
        <section class="section-card">
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv7.litres.ru/pub/c/cover_330/66579770.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">DЮНА</h3>
                    <p class="product-description">Легенда мировой приключенческой литературы, не устаревшая и не
                        утратившая своего обаяния почти за три столетия.</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv4.litres.ru/pub/c/cover_330/63995641.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Роман с самим собой</h3>
                    <p class="product-description">Бестселлер Татьяны Мужицкой – в авторской озвучке!Когда ты себя
                        любишь, ты точно знаешь, чего хочешь, и идешь к этому.</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv3.litres.ru/pub/c/cover_185/47453330.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Внутри убийцы</h3>
                    <p class="product-description">Чтобы поймать убийцу, нужно смотреть глазами убийцы.БЕСТСЕЛЛЕР NEW
                        YORK TIMES, WASHINGTON</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv0.litres.ru/pub/c/cover_330/53825206.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Самый богаты человек</h3>
                    <p class="product-description">Любимая книга Роберта Кийосаки!Эта книга – настоящее лекарство от
                        нищеты. Если вы всерьез решили стать богатым..</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv5.litres.ru/pub/c/cover_200/68620558.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Школа чернокнижников</h3>
                    <p class="product-description">Школа чернокнижников – лучшее место в мире, ведь здесь мои друзья,
                        мой неожиданно обретенный брат..</p>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv8.litres.ru/pub/c/cover_200/70626280.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Танго 2</h3>

                    <p class="product-description">Вот угораздило же одного пепельного блондина выбрать именно меня.</p>
                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv6.litres.ru/pub/c/cover_200/70622563.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Отвергнутая хозяйка</h3>
                    <p class="product-description">Попала в тело той, что обвинили в измене, той, от которой хотят
                        избавиться, нежной, невинной девушки.
                        <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>
        </section>
        <div class="span">
            <span class="div-span">
                <h2 style=" padding-top: 30px; padding-left: 40px;">
                    Предзаказ со скидкой 20%
                </h2>
            </span>
        </div>
        <section class="section-card">
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv6.litres.ru/pub/c/cover_200/70622563.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Отвергнутая хозяйка</h3>
                    <p class="product-description">Попала в тело той, что обвинили в измене, той, от которой хотят
                        избавиться, нежной, невинной девушки. </p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>


            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv3.litres.ru/pub/c/cover_185/70407436.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Грань забытых земель</h3>

                    <p class="product-description">Дружная и упорная пятерка игроков, создав боевую группу Братство
                        Тропы, оказавшись в одном из тайных уголков мира Вальдиры.</p>
                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>


            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv4.litres.ru/pub/c/cover_185/68053645.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Цена колдовства</h3>
                    <p class="product-description">Отсутствие общих детей с любимым человеком, который и так бросил тебя
                        за два дня до свадьбы – невелика цена за простенькое колдовство..</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv8.litres.ru/pub/c/cover_185/70685182.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Принцеса торн</h3>

                    <p class="product-description">Мой телохранитель. Мой защитник. Мой величайший грех.Я слишком много
                        раз оказывалась на страницах желтой прессы.</p>
                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>


            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv3.litres.ru/pub/c/cover_200/70732339.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">45 татуировок</h3>
                    <p class="product-description">Названия глав этой книги – татуировки. Это свод принципов и правил,
                        проверенных многолетней практикой успешного менеджера,</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>


            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv5.litres.ru/pub/c/cover_200/70452358.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Цеховик 4</h3>
                    <p class="product-description">Проект постепенно выходит на расчётный уровень прибыли. Да вот
                        только, чем больше успехов..</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>
        </section>
        <div class="span">
            <span class="div-span">
                <h2 style=" padding-top: 30px; padding-left: 40px;">
                    Недавно прочитанные
                </h2>
            </span>
        </div>
        <section class="section-card">
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv4.litres.ru/pub/c/cover_185/70732447.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Трансерфинг реальности</h3>

                    <p class="product-description">«Пространство вариантов» – это первая книга трилогии Вадима Зеланда
                        «Трансерфинг реальности».</p>
                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>



            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv7.litres.ru/pub/c/cover_185/70732471.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Трансерфинг реальности 5</h3>

                    <p class="product-description">«Пространство вариантов» – это первая книга трилогии Вадима Зеланда
                        «Трансерфинг реальности».</p>
                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>



            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv5.litres.ru/pub/c/cover_200/70732450.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Трансерфинг реальности 3</h3>
                    <p class="product-description">«Пространство вариантов» – это первая книга трилогии Вадима Зеланда
                        «Трансерфинг реальности».</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>



            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv5.litres.ru/pub/c/cover_185/66635352.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Нетворкинг</h3>
                    <p class="product-description">Разведчики-нелегалы, много лет проработавшие под глубоким прикрытием,
                        делятся уникальным личным опытом работы с людьми.</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>


            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv9.litres.ru/pub/c/cover_200/70455094.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Возрождения феникса 9</h3>

                    <p class="product-description">Русские идут! Отныне Москва - гегемон всего мира. Сеня Беркутов
                        сделал ставку на Российскую Империю. </p>
                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>


            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv4.litres.ru/pub/c/cover_200/70732648.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Ревизор в ссср</h3>
                    <p class="product-description">Не думал, не гадал матерый московский аудитор, что на шестом десятке
                        лет помрет и угодит в СССР, аж в 1971 год. </p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>
        </section>
        <div class="span">
            <span class="div-span">
                <h2 style=" padding-top: 30px; padding-left: 40px;">
                    Хиты проверенные временем
                </h2>
            </span>
        </div>
        <section class="section-card">
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv7.litres.ru/pub/c/cover_330/66579770.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">DЮНА</h3>
                    <p class="product-description">Легенда мировой приключенческой литературы, не устаревшая и не
                        утратившая своего обаяния почти за три столетия.</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv4.litres.ru/pub/c/cover_330/63995641.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Роман с самим собой</h3>
                    <p class="product-description">Бестселлер Татьяны Мужицкой – в авторской озвучке!Когда ты себя
                        любишь, ты точно знаешь, чего хочешь, и идешь к этому.</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv3.litres.ru/pub/c/cover_185/47453330.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Внутри убийцы</h3>
                    <p class="product-description">Чтобы поймать убийцу, нужно смотреть глазами убийцы.БЕСТСЕЛЛЕР NEW
                        YORK TIMES, WASHINGTON</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv0.litres.ru/pub/c/cover_330/53825206.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Самый богаты человек</h3>
                    <p class="product-description">Любимая книга Роберта Кийосаки!Эта книга – настоящее лекарство от
                        нищеты. Если вы всерьез решили стать богатым..</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv5.litres.ru/pub/c/cover_200/68620558.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Школа чернокнижников</h3>
                    <p class="product-description">Школа чернокнижников – лучшее место в мире, ведь здесь мои друзья,
                        мой неожиданно обретенный брат..</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv8.litres.ru/pub/c/cover_330/66159282.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Брать,давать</h3>
                    <p class="product-description">Из уст автора узнайте о скрытых источниках силы внутри себя!Получать
                        удовольствие от жизни – это искусство.</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv4.litres.ru/pub/c/cover_185/70013440.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Императорский див</h3>
                    <p class="product-description">Вторая книга цикла о расследованиях графа Аверина.В Петербурге
                        исчезает несколько девушек, в это же время из-подо льда достают труп..</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv5.litres.ru/pub/c/cover_330/70414153.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Незаконный наследник</h3>
                    <p class="product-description">Когда ты добился всего, чего только мог, то тебе становится скучно, и
                        ты начинаешь рисковать, играя с судьбой. </p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv6.litres.ru/pub/c/cover_330/70472563.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Незаконный наследник 2</h3>
                    <p class="product-description">О книге
                        Заключительная книга цикла о незаконном наследнике. Император умирает, ему нужно оставить дела
                        для своего приемника в полном порядке. </p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv1.litres.ru/pub/c/cover_330/175711.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Пространство вариантов</h3>
                    <p class="product-description">Трансерфинг – это мощная техника, дающая власть творить невозможные с
                        обыденной точки зрения вещи,</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv6.litres.ru/pub/c/cover_330/28515766.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Скажи жизни да</h3>
                    <p class="product-description">Впервые предлагаются нелекарственные методы помощи при депрессии и
                        других эмоциональных расстройствах: </p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="https://cv5.litres.ru/pub/c/cover_330/70728457.webp" alt="Товар">
                </div>
                <div class="product-content">
                    <h3 class="product-title">Кровь василиска</h3>
                    <p class="product-description">Прошлая жизнь… Да-да, у меня была прошлая жизнь. Жизнь, полная боли и
                        страданий, подвигов и предательств.</p>

                    <button onclick="addToCart('Товар 2', 20)">Прочитать</button>
                </div>
            </div>

        </section>
    </main>
    <footer>
        <div>
            <p>8 (800) 500-05-22 <br>Контактный центр</p>
        </div>
        <div class="footer-center">
            <p>г. Москва, ул. Тимура Фрунзе, дом 11 <br>futureskills@mail.ru</p>
        </div>
        <div class="footer-icon">
            <a href="#" class="icon" aria-label="VK"><i class="fa-brands fa-vk"></i></a>
            <a href="#" class="icon" aria-label="Telegram"><i class="fa-brands fa-telegram"></i></a>
        </div>
    </footer>
    <script src="/static/script/login-page.js"></script>
</body>

</html>